@import "@/assets/sass/media";

.background-container {
  .background-container-style {
    .guaranties-section-container {
      .svg-icons-guaranty-parent {
        .single-guaranty-parent {
          .svg-icon-parent {
          }

          .svg-guaranty-title {
          }

          .svg-guaranty-text {
            color: #8f8f8f;
            text-align: center;
          }
        }
      }
    }
  }
}

@include breakpoint(medium) {
  .single-guaranty-parent {
    width: 100%;
  }
}
