@import "@/assets/sass/variable";
@import "@/assets/sass/media";

.background-container {
  .background-container-style {
    .investment-plan-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 2rem;

      .investment-btn-parent {
        .btn-style {
          background: linear-gradient(to right, #e2e3eb, #fdfdfd);
          border: 2px solid $white;
          border-radius: 25px;
          padding: 7px 20px;
          font-weight: bold;
          font-size: 18px;
          color: #162b64;
          box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.09);
        }
      }

      .investment-plan-image {
        width: 80em;
        height: auto;
      }
    }
  }
}

